<ion-view view-title="INQUIRIES">
    <ion-nav-bar class="bar-energized ">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>

        <ion-list class="vlist">
           
            <ion-item class="padbox" ng-repeat="inquiry in inquirylist">
                <div class="row">
                    <div class="col col-10 inquiry-name">
                        {{$index+1 }}
                    </div>
                    <div class="col col-80">
                        <div class="inquiry-name">{{inquiry.name}}</div>
                        <div style="margin-top: 1%;">
                            <p>From : {{inquiry.fromloc}}</p>
                            <p> To : {{inquiry.toloc}}</p>                            
                            <p class="orangecolor">Vehicle Code : A2306</p>
                        </div>
                    </div>
                    <div class="col col-10">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>                                                
                    </div>                    
                </div>
                <ion-option-button class="button-balanced">CALL</ion-option-button>
                <span class="item-note margin-7"><i class="ion-ios-clock-outline"></i> {{inquiry.date}}</span>
            </ion-item>            
        </ion-list>
    </ion-content>
</ion-view>