<ion-view view-title="INQUIRIES">
    <ion-nav-bar class="bar-energized ">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>

        <ion-list>
            <ion-item class="padbox">
                <div class="row">
                    <div class="col col-10 inqindex">
                        1:
                    </div>
                    <div class="col col-80">
                        <div style="font-size: 30px;">Abhay Amin</div>
                        <div style="margin-top: 5%;">
                            <p>From : ghatkopar</p>
                            <p> To : Andheri</p>                            
                            <p class="orangecolor">Vehicle Code : A2306</p>
                        </div>
                    </div>
                    <div class="col col-10">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>                                                
                    </div>                    
                </div>
                <ion-option-button class="button-balanced">CALL</ion-option-button>
                <span class="item-note margin-7"><i class="ion-ios-clock-outline"></i> 23 Aug 15 6:30</span>
            </ion-item>
            <ion-item class="padbox">
                <div class="row">
                    <div class="col col-10 inqindex">
                        2:
                    </div>
                    <div class="col col-80">
                        <div style="font-size: 30px;">Abhay Amin</div>
                        <div style="margin-top: 5%;">
                            <p>From : ghatkopar</p>
                            <p> To : Andheri</p>                            
                            <p class="orangecolor">Vehicle Code : A2306</p>
                        </div>
                    </div>
                    <div class="col col-10">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <ion-option-button class="button-balanced">CALL</ion-option-button>
                <span class="item-note margin-7"><i class="ion-ios-clock-outline"></i> 23 Aug 15 6:30</span>
            </ion-item>
            <ion-item class="padbox">
                <div class="row">
                    <div class="col col-10 inqindex">
                        3:
                    </div>
                    <div class="col col-80">
                        <div style="font-size: 30px;">Abhay Amin</div>
                        <div style="margin-top: 5%;">
                            <p>From : ghatkopar</p>
                            <p> To : Andheri</p>                            
                            <p class="orangecolor">Vehicle Code : A2306</p>
                        </div>
                    </div>
                    <div class="col col-10">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <ion-option-button class="button-balanced">CALL</ion-option-button>
                <span class="item-note margin-7"><i class="ion-ios-clock-outline"></i> 23 Aug 15 6:30</span>
            </ion-item>
            <ion-item class="padbox">
                <div class="row">
                    <div class="col col-10 inqindex">
                        4:
                    </div>
                    <div class="col col-80">
                        <div style="font-size: 30px;">Abhay Amin</div>
                        <div style="margin-top: 5%;">
                            <p>From : ghatkopar</p>
                            <p> To : Andheri</p>                            
                            <p class="orangecolor">Vehicle Code : A2306</p>
                        </div>
                    </div>
                    <div class="col col-10">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <ion-option-button class="button-balanced">CALL</ion-option-button>
                <span class="item-note margin-7"><i class="ion-ios-clock-outline"></i> 23 Aug 15 6:30</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>